ec2/
seedlinks.txt

*.class
report/
*.iml
.idea/
crawler/.idea/
.DS_Store
crawler/.idea/workspace.xml
crawler/aws-java-sdk-1.11.61/
seeds/
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear


# jar related
crawler/crawler.properties
crawler/crawler.xml
crawler/module_crawler.xml
crawler/src/META-INF/
crawler/src/frontierJar/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
aws-java-sdk-1.11.60
hadoop-2.7.3
out/
aws-samples/
local.jar
test.jar
servlet/lib/
indexing/lib/
pom.xml
*.jar
