*.class

*.iml
.idea
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/
crawler/.idea/workspace.xml

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
aws-java-sdk-1.11.60
hadoop-2.7.3
out/
aws-samples/
